/* Reset CSS */
        *, *::before, *::after {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* Variabili CSS */
        :root {
            --primary-color: #5850ec;
            --secondary-color: #cd9ffa;
            --tertiary-color: #64113F;
            --text-color: #1F2937;
            --light-bg: #f6edff;
            --white: #FFFFFF;
            --max-width: 1200px;
            --border-radius: 12px;
        }

        /* Base styles */
        html {
            scroll-behavior: smooth;
        }

        body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",sans-serif;
            line-height: 1.6;
            color: var(--text-color);
        }
        h1 {
            color: var(--primary-color);
        }
        h1, h2 {
          text-align: center;
          padding-bottom: 20px;
        }

        img {
            max-width: 100%;
            height: auto;
        }
        svg {
            fill: #000;
        }

        /* Utility classes */
        .container {
            width: 90%;
            max-width: var(--max-width);
            margin: 0 auto;
            padding: 1rem;
        }

        .btn {
            display: inline-block;
            padding: 1rem 2rem;
            background-color: #5850ec;
            color: var(--white);
            text-decoration: none;
            border-radius: var(--border-radius);
            font-weight: 600;
            transition: transform 0.3s ease;
            margin-top: 20px;
            margin-bottom: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .btn:hover {
            transform: translateY(-10px);
        }

        .hamburger-menu {
            position: fixed;
            top: 60px; /* Sposta il menu un po' più in basso per non coprire l'icona */
            right: 15px;
            background-color: white;
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: none;
            flex-direction: column;
            z-index: 1000; /* Assicurati che il menu sia sopra altri elementi */
        }
        .hamburger-icon span {
            font-size: 20px;
        }
        .hamburger-icon {
            position: fixed;
            top: 20px;
            right: 20px;
            cursor: pointer;
            z-index: 1001; /* Assicurati che l'icona sia sopra il menu */
        }
        .hamburger-menu a {
            text-decoration: none;
            color: black;
            margin: 5px 0;
        }

        /* Hero Section */
        .hero {
            padding: 4rem 0;
            background: linear-gradient(to bottom, white, var(--light-bg));
            text-align: center;
        }

        .hero__content {
            max-width: 800px;
            margin: 0 auto;
        }

        .hero__title {
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }

        .hero__subtitle {
            font-size: 1.25rem;
            margin-bottom: 2rem;
        }

        .hero__image {
            margin: 2rem 0;
            max-width: 300px;
        }

        .screenshot {
            display: block;
            margin: auto;
            margin-bottom: 20px;
        }

        /* Features Section */
        .features {
            padding: 4rem 0;
            background-color: var(--light-bg);
        }

        .features__grid {
            display: grid;
            grid-template-columns: 1fr;
            gap: 2rem;
            padding: 2rem 0;
        }

        .feature-card {
            background: var(--white);
            padding: 2rem;
            border-radius: var(--border-radius);
            text-align: center;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        /* Team Section */
        .team {
            padding: 4rem 0;
        }

        .team__grid {
            display: grid;
            grid-template-columns: 1fr;
            gap: 2rem;
            padding: 2rem 0;
        }

        .team-member {
            text-align: center;
        }

        .team-member__image {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin-bottom: 1rem;
        }

        /* FAQ Section */
        .faq {
            padding: 4rem 0;
            background-color: var(--light-bg);
        }

        .faq__item {
            background: var(--white);
            padding: 1.5rem;
            border-radius: var(--border-radius);
            margin-bottom: 2rem;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        /* Download Section */
        .download {
            padding: 4rem 0;
            text-align: center;
            background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
            color: var(--white);
        }
        .store-button {
            max-width: 200px;
        }

        /* Footer */
        .footer {
            padding: 2rem 0;
            background: linear-gradient(to top, white, var(--light-bg));
            color: #000;
            text-align: center;
        }

        .footer a {
            color: #000;
            text-decoration: none;
        }

        /* Media Queries */
        @media (min-width: 768px) {
            .features__grid {
                grid-template-columns: repeat(2, 1fr);
            }

            .team__grid {
                grid-template-columns: repeat(1, 1fr);
            }
            .team-member {
                padding-left: 20%;
                padding-right: 20%;
            }

            .hero__title {
                font-size: 3.5rem;
            }

            .hero__subtitle {
                font-size: 1.5rem;
            }
            footer {
                display: flex;
            }
        }

        @media (min-width: 1024px) {
            .features__grid {
                grid-template-columns: repeat(2, 1fr);
            }
            .team-member {
                padding-left: 20%;
                padding-right: 20%;
            }
            .hero .container {
                display: flex;
            }
            .hero__content {
                align-content: center;
                text-align: left;
            }
            .hero h1,
            .hero h2 {
                text-align: left;
            }
        }
